* {
    margin: auto;

}


html, body {
    height: 100vh;

}

body {
    background-color: #F4A261;
}


table, th, td{
    border: solid 1px black;
}

button:hover {
    background-color: #264653;
    color: ivory;
}

.header {
    font-family: 'Abel', sans-serif;
    font-size: 2em;
    text-decoration: underline;
    font-weight: bolder;
}

/*.container {*/
/*    position: relative;*/
/*    top: 50%;*/
/*    transform: translateY(-100%);*/
/*    text-align: center;*/
/*}*/

.add-a-movie {
    background-color: #F4A261;
}

.page-data {
    font-family: 'Montserrat', sans-serif;
}

.modify {
    background-color: #E9C46A;
}

.delete-button {
    background-color: #E76F51;
}


#table{
    border: solid 5px black;
    width: 100vw;
    background-color: #2A9D8F;
}

#add-edit {
    width: 100vw;
    border: solid 1px black;
}

#movie-rating {
    margin-left: 96px;
}

